{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/iomp.ru",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2020-07-30T10:14:05.713Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2020-07-30T10:14:05.961Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1596452983844.7725,
          "date": "2020-08-03T11:10:06.985Z"
        },
        {
          "file": "fonts/SFUIDisplay.eot",
          "mtimeMs": 1594887200000,
          "date": "2020-07-30T10:14:07.093Z"
        },
        {
          "file": "fonts/SFUIDisplay.svg",
          "mtimeMs": 1594887200000,
          "date": "2020-07-30T10:14:07.983Z"
        },
        {
          "file": "fonts/SFUIDisplay.ttf",
          "mtimeMs": 1594887200000,
          "date": "2020-07-30T10:14:08.376Z"
        },
        {
          "file": "fonts/SFUIDisplay.woff",
          "mtimeMs": 1594887200000,
          "date": "2020-07-30T10:14:08.766Z"
        },
        {
          "file": "fonts/SFUIDisplay.woff2",
          "mtimeMs": 1594887202000,
          "date": "2020-07-30T10:14:09.020Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.eot",
          "mtimeMs": 1595861074000,
          "date": "2020-07-30T10:14:09.592Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.svg",
          "mtimeMs": 1595861074000,
          "date": "2020-07-30T10:14:10.723Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.ttf",
          "mtimeMs": 1595861074000,
          "date": "2020-07-30T10:14:11.130Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.woff",
          "mtimeMs": 1595861074000,
          "date": "2020-07-30T10:14:11.498Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.woff2",
          "mtimeMs": 1595861074000,
          "date": "2020-07-30T10:14:11.776Z"
        },
        {
          "file": "img/icons/title.png",
          "mtimeMs": 1596200165875.2437,
          "date": "2020-07-31T12:56:11.419Z"
        },
        {
          "file": "img/images/branch.png",
          "mtimeMs": 1596200120933.5757,
          "date": "2020-07-31T12:56:11.710Z"
        },
        {
          "file": "img/images/divider.png",
          "mtimeMs": 1596201692718.0515,
          "date": "2020-07-31T13:21:36.168Z"
        },
        {
          "file": "img/images/ellipse.png",
          "mtimeMs": 1596200128533.6692,
          "date": "2020-07-31T12:56:12.283Z"
        },
        {
          "file": "img/images/grass.png",
          "mtimeMs": 1596200131040.7007,
          "date": "2020-07-31T12:56:12.479Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1596200134300.9846,
          "date": "2020-07-31T12:56:12.809Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1596200136553.8374,
          "date": "2020-07-31T12:56:12.992Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1596200138958.0964,
          "date": "2020-07-31T12:56:13.139Z"
        },
        {
          "file": "img/images/main-1.png",
          "mtimeMs": 1596200141541.312,
          "date": "2020-07-31T12:56:13.312Z"
        },
        {
          "file": "img/images/main-2.png",
          "mtimeMs": 1596200143940.5432,
          "date": "2020-07-31T12:56:13.533Z"
        },
        {
          "file": "img/images/main-3.png",
          "mtimeMs": 1596200146124.4663,
          "date": "2020-07-31T12:56:13.706Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1596204046651.3193,
          "date": "2020-07-31T14:32:58.557Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1590223128817.3547,
          "date": "2020-07-30T10:14:16.431Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1590223131272.1074,
          "date": "2020-07-30T10:14:16.693Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1579959346841.2505,
          "date": "2020-07-30T10:14:17.057Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1579959352573.6072,
          "date": "2020-07-30T10:14:17.428Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1579959358900.9497,
          "date": "2020-07-30T10:14:17.788Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1579959388677.9707,
          "date": "2020-07-30T10:14:18.138Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1579959396665.9336,
          "date": "2020-07-30T10:14:18.442Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1579959408180.704,
          "date": "2020-07-30T10:14:18.729Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1579959414830.9966,
          "date": "2020-07-30T10:14:18.973Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1579959420788.9841,
          "date": "2020-07-30T10:14:19.336Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1590503975862.3792,
          "date": "2020-07-30T10:14:19.590Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1590503978796.2146,
          "date": "2020-07-30T10:14:19.866Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1590503981658.8079,
          "date": "2020-07-30T10:14:20.083Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1590503984525.7188,
          "date": "2020-07-30T10:14:20.337Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1590503987197.1777,
          "date": "2020-07-30T10:14:20.552Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1590503990152.611,
          "date": "2020-07-30T10:14:20.905Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1590503993265.1228,
          "date": "2020-07-30T10:14:21.134Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1590503995866.8462,
          "date": "2020-07-30T10:14:21.382Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1590503998452.5598,
          "date": "2020-07-30T10:14:21.594Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1590504001188.9692,
          "date": "2020-07-30T10:14:21.865Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1596438669248.272,
          "date": "2020-08-03T07:16:29.969Z"
        },
        {
          "file": "fonts/SFUIDisplayHeavy.eot",
          "mtimeMs": 1584953652000,
          "date": "2020-07-31T07:00:42.448Z"
        },
        {
          "file": "fonts/SFUIDisplayHeavy.svg",
          "mtimeMs": 1584953654000,
          "date": "2020-07-31T07:00:43.174Z"
        },
        {
          "file": "fonts/SFUIDisplayHeavy.ttf",
          "mtimeMs": 1584953652000,
          "date": "2020-07-31T07:00:43.626Z"
        },
        {
          "file": "fonts/SFUIDisplayHeavy.woff",
          "mtimeMs": 1584953652000,
          "date": "2020-07-31T07:00:43.881Z"
        },
        {
          "file": "fonts/SFUIDisplayHeavy.woff2",
          "mtimeMs": 1584953652000,
          "date": "2020-07-31T07:00:44.221Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.eot",
          "mtimeMs": 1595861096000,
          "date": "2020-07-31T07:00:44.690Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.svg",
          "mtimeMs": 1595861096000,
          "date": "2020-07-31T07:00:46.204Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.ttf",
          "mtimeMs": 1595861096000,
          "date": "2020-07-31T07:00:46.710Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff",
          "mtimeMs": 1595861096000,
          "date": "2020-07-31T07:00:47.363Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff2",
          "mtimeMs": 1595861096000,
          "date": "2020-07-31T07:00:47.590Z"
        },
        {
          "file": "img/images/ellipse-2.png",
          "mtimeMs": 1596200126076.9429,
          "date": "2020-07-31T12:56:12.085Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1596211494237.2542,
          "date": "2020-07-31T16:05:07.301Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1596020527032.0535,
          "date": "2020-07-31T15:58:46.833Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1592063655622.0688,
          "date": "2020-07-31T15:58:47.027Z"
        },
        {
          "file": "css/phones.min.css",
          "mtimeMs": 1596442645762.7104,
          "date": "2020-08-03T08:17:29.534Z"
        },
        {
          "file": "img/icons/flags.png",
          "mtimeMs": 1578323782889.2456,
          "date": "2020-08-03T07:40:02.889Z"
        },
        {
          "file": "img/icons/flags@2x.png",
          "mtimeMs": 1578323788520.2798,
          "date": "2020-08-03T07:40:03.126Z"
        },
        {
          "file": "js/phones.min.js",
          "mtimeMs": 1596441434835.4182,
          "date": "2020-08-03T08:00:38.293Z"
        },
        {
          "file": "phones/index.html",
          "mtimeMs": 1596440684838.1328,
          "date": "2020-08-03T07:47:23.524Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1596441504349.112,
          "date": "2020-08-03T08:00:38.492Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1596452817192.9666,
          "date": "2020-08-03T11:10:06.648Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1596452989133.9268,
          "date": "2020-08-03T11:10:06.818Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1596446637690.6565,
          "date": "2020-08-03T09:25:04.147Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1596443562611.0261,
          "date": "2020-08-03T08:32:59.233Z"
        },
        {
          "file": "date/date.php",
          "mtimeMs": 1596443573291.494,
          "date": "2020-08-03T08:32:59.874Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1596449507581.6191,
          "date": "2020-08-03T10:12:03.961Z"
        },
        {
          "file": "promo/index.php",
          "mtimeMs": 1596447103143.6812,
          "date": "2020-08-03T09:31:47.852Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course.min.js"
        }
      },
      {
        "file": "_app/_js/phones.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\phones.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/phones.pug",
        "config": {
          "customOutput": "phones\\index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/phones.min.styl",
        "config": {
          "customOutput": "css\\phones.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "img/icons/title.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 14283,
          "optimized": true
        }
      },
      {
        "file": "img/images/branch.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 122785,
          "optimized": true
        }
      },
      {
        "file": "img/images/divider.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 28697
        }
      },
      {
        "file": "img/images/ellipse-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 14304,
          "optimized": true
        }
      },
      {
        "file": "img/images/ellipse.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8987,
          "optimized": true
        }
      },
      {
        "file": "img/images/grass.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 138026,
          "optimized": true
        }
      },
      {
        "file": "img/images/janna.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 609353,
          "optimized": true
        }
      },
      {
        "file": "img/images/laptop.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 71648,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 2926,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 26049,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 41445,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 21683,
          "optimized": true
        }
      },
      {
        "file": "img/images/main.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 121204
        }
      }
    ]
  }
}
