.prepayment
	text-align: right
.prepayment-title
	font-size: 48px
	font-family: SUDH
	font-weight: 800
	color red
.prepayment-text
	font-size: 20px
	margin 20px 0 30px
	span
		display inline-block
		font-family: SUDB
		font-weight: bold
		color cB
.button-prepayment
	max-width 380px
	margin-right: 0