@import 'base/fonts'

@import '../_css/bootstrap.min.css'

@import 'base/base'
@import 'base/header'
@import 'main/1.main'
@import 'main/2.video'
@import 'main/3.benefits'
@import 'main/4.for'
@import 'main/5.divider'
@import 'main/6.plan-1'
@import 'main/7.usefull'
@import 'main/8.skills'
@import 'main/9.plan-2'
@import 'main/10.author'
@import 'main/11.revs'
@import 'main/12.last'
@import 'base/footer'
@import 'main/13.modal'
@import 'main/14.medias'