#author
	padding 90px 0
	overflow hidden
.general-img-author
	bottom: -90px
	left -360px
.author-title
	font-size: 32px
	font-family: SUDH
	font-weight: 800
	color cB
	small
		display block
		font-family: SUD
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.405em;
		text-transform: uppercase;
		color: #7B7B7B;
		margin-bottom: 20px
.author-img
	display block
	margin 0 auto