#revs
	padding 60px 0 150px
	overflow hidden
.general-img-revs-1
	top 40px
	left -400px
.general-img-revs-2
	bottom: -150px
	right -400px
.general-title-revs
	margin-top: 60px
#video-revs
#text-revs
	width 200%
	transition: all .6s ease
	position relative
	left 0
#video-revs
	margin-bottom: 60px
.text-rev-img
	height 315px
	width auto
	object-fit: contain
	offset-position: center
	background-color #fff
.owl-theme .owl-nav
	width 400px
	text-align left
.owl-theme .owl-nav [class*="owl-"]
	color #000
	font-size: 36px
	line-height: 1.1
	font-family: SUD
	background-color: transparent
	opacity 1
	padding 0
	margin 0
	&:hover
		background-color: transparent
		color cB
.owl-theme .owl-nav .owl-next
	margin-left: 10px