#last
	padding 0 0 90px
	text-align center
	overflow hidden
.general-img-last
	bottom: -80px
	left -190px
	height 100%
	transform: rotate(26deg)
.last-title
	font-size: 36px
	font-family: SUDH
	font-weight: 800
	margin-bottom: 50px
.last-text
	font-size: 24px
	margin-bottom: 10px