#video
	padding 60px 0
.video-wrapper-container
	position relative
	margin-top: calc(50% - 80px)
	&:before
		content ''
		display block
		position absolute
		top -70px
		left -300px
		width: 746px;
		height: 478px;
		background-color: cC
		border-radius: 50%
		z-index -1
.button-video
	margin-top: 60px