#name-title
#divider
	position relative
	padding 90px 0
	overflow hidden
	height 108px
.name-title-img
.divider-img
	display block
	position: absolute
	width: auto;
	white-space: nowrap;
	bottom: 0;
	left: 0;
	top calc(50% - 55px)
#divider
	height 419px
.divider-img
	top  calc(50% - 155px)
#benefits
	padding 90px 0 0
	overflow hidden
.general-img-benefits-1
.general-img-benefits-2
	top -90px
	width auto
.general-img-benefits-1
	left -300px
	height 290px
.general-img-benefits-2
	right -260px
	height 340px