#usefull
	padding: 90px 0
.general-img-usefull
	bottom: -140px
	left -360px
	height 300px
.use-item-list
	display block
	width 100%
	margin-top: 40px
	li
		padding-left: 35px
		position relative
		margin-bottom: 30px
		list-style none
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			display block
			position absolute
			width 20px
			height 2px
			background-color: cB
			top 10px
			left 0
.button-usefull
	margin-top: 50px