SUD = 'SFUIDisplay', sans-serif
cB = #9084FF;
cBk = #000000;
cC = #EDEBFF
cG = #787878;

@font-face {
	font-family: 'SFUIDisplay';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('fonts/SFUIDisplay.eot');
	src: url('fonts/SFUIDisplay.eot');
	src: url('fonts/SFUIDisplay.eot') format('embedded-opentype'),
		 url('fonts/SFUIDisplay.woff2') format('woff2'),
		 url('fonts/SFUIDisplay.woff') format('woff'),
		 url('fonts/SFUIDisplay.ttf') format('truetype'),
		 url('fonts/SFUIDisplay.svg#SFUIDisplay') format('svg');
}