SUD = 'SFUIDisplay', sans-serif
SUDB = 'SFUIDisplayBold', sans-serif
SUDL = 'SFUIDisplayLight', sans-serif
SUDH = 'SFUIDisplayHeavy', sans-serif

cB = #9084FF;
cBk = #000000;
cC = #EDEBFF
cG = #787878;

@font-face {
	font-family: 'SFUIDisplay';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/SFUIDisplay.eot');
	src: url('../fonts/SFUIDisplay.eot');
	src: url('../fonts/SFUIDisplay.eot') format('embedded-opentype'),
		 url('../fonts/SFUIDisplay.woff2') format('woff2'),
		 url('../fonts/SFUIDisplay.woff') format('woff'),
		 url('../fonts/SFUIDisplay.ttf') format('truetype'),
		 url('../fonts/SFUIDisplay.svg#SFUIDisplay') format('svg');
}
@font-face {
	font-family: 'SFUIDisplayBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('../fonts/SFUIDisplayBold.eot');
	src: url('../fonts/SFUIDisplayBold.eot');
	src: url('../fonts/SFUIDisplayBold.eot') format('embedded-opentype'),
		 url('../fonts/SFUIDisplayBold.woff2') format('woff2'),
		 url('../fonts/SFUIDisplayBold.woff') format('woff'),
		 url('../fonts/SFUIDisplayBold.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayBold.svg#SFUIDisplayBold') format('svg');
}
@font-face {
	font-family: 'SFUIDisplayLight';
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
	src: local url('../fonts/SFUIDisplayLight.eot');
	src: url('../fonts/SFUIDisplayLight.eot');
	src: url('../fonts/SFUIDisplayLight.eot') format('embedded-opentype'),
		 url('../fonts/SFUIDisplayLight.woff2') format('woff2'),
		 url('../fonts/SFUIDisplayLight.woff') format('woff'),
		 url('../fonts/SFUIDisplayLight.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayLight.svg#SFUIDisplayLight') format('svg');
}
@font-face {
	font-family: 'SFUIDisplayHeavy';
	font-display: fallback;
	font-weight: 800;
	font-style: normal;
	src: local url('../fonts/SFUIDisplayHeavy.eot');
	src: url('../fonts/SFUIDisplayHeavy.eot');
	src: url('../fonts/SFUIDisplayHeavy.eot') format('embedded-opentype'),
		 url('../fonts/SFUIDisplayHeavy.woff2') format('woff2'),
		 url('../fonts/SFUIDisplayHeavy.woff') format('woff'),
		 url('../fonts/SFUIDisplayHeavy.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayHeavy.svg#SFUIDisplayHeavy') format('svg');
}