header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	position relative
	z-index: 99
.header-logo
	float left
.contacts
	float: right
	text-align right
.contact
	line-height: 42px
	font-size: 14px
	&-skype
		margin 0 20px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000