section#author
	.container
		img(src=path+"img/images/branch.png", alt="Ветки").author-img
		.row
			.col-md-6.col-sm-6
				h4.author-title
					small О тренере
					| Жанна Абрамова
				hr
				p.author-text Клинический психолог, гештальт-терапевт, гипнотерапевт
				p.author-text Мастер практической психологии и технологий осознанности
				p.author-text Коуч, тренер обучающих и трансформационных программ
				p.author-text Мастер НЛП терапии и ДСТ (терапия диссоциированных состояний)
				p.author-text Процессор техник РПТ, тетахилинга, субклеточной психобиологии, терапевт психохирургии и новой германской медицины
				p.author-text Мастер метафорических карт (МАК), системно-родовой терапии, технологии мгновенного исцеления, регрессивного гипноза
				p.author-text Автор курсов по новой системной психологии, МАК, системной терапии, психохирургии, коучинга, НЛП терапии, акмеологии, курсов по женской соматике и психологии
				p.author-text Педагог Международного института интеграционного развития
			.col-md-6.col-sm-6
				img.author-img(src=path+"img/images/janna.png", alt="Жанна Абрамова")