section#author
	.container
		img(src=path+"img/images/branch.png", alt="Ветки").general-img.general-img-author
		.row
			.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6
				img.author-img(src=path+"img/images/janna.png", alt="Жанна Абрамова")
			.col-md-6.col-sm-6.col-md-pull-6.col-sm-pull-6
				h4.author-title
					small О тренере
					| Жанна Абрамова
				hr
				p.general-text Клинический психолог, гештальт-терапевт, гипнотерапевт
				p.general-text Мастер практической психологии и технологий осознанности
				p.general-text Коуч, тренер обучающих и трансформационных программ
				p.general-text Мастер НЛП терапии и ДСТ (терапия диссоциированных состояний)
				p.general-text Процессор техник РПТ, тетахилинга, субклеточной психобиологии, терапевт психохирургии и новой германской медицины
				p.general-text Мастер метафорических карт (МАК), системно-родовой терапии, технологии мгновенного исцеления, регрессивного гипноза
				p.general-text Автор курсов по новой системной психологии, МАК, системной терапии, психохирургии, коучинга, НЛП терапии, акмеологии, курсов по женской соматике и психологии
				p.general-text Педагог Международного института интеграционного развития