section#last
	.container
		img(src=path+"img/images/grass.png", alt="Картинка блока").last-img
		h3.last-title Начни сейчас это бесплатно!
		p.last-text Боле 20 000 учеников доверяют нам и реализует свои цели
		h3.last-title Хочу таких результатов!
		+b('','#Modal','Записаться')