section#video
	.container
		.row
			.col-md-6
				.video-wrapper-container
					.video-wrapper.video-wrapper-video
						iframe(src="https://youtube.com/embed/F8VrBugvSQM?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
			.col-md-6
				+gt('','Видео-приглашение')
				p.general-text Курс 
					span «Новая системная психология 2.0.»
					| направлен на нейролингвистическую и психотерапевтическую работу с клиентами.
				p.general-text Объединяет пять терапевтических курсов – Психохирургия; НЛП терапия; ДСТ (терапия диссоциированных состояний); Психотерапия; Регрессивный гипноз.
				p.general-text Основан на психотерапевтических техниках, а также приёмах практической психологии по моделированию  вербального и невербального поведения людей. Программа содержит только работающие практики и техники, что позволяет существенно сократить время работы с проблематикой для получения положительного результата.
				p.general-text Курс включает методики современной универсальной психотехнологии, позволяющей пробуждать и использовать бессознательные ресурсы личности, выявлять и изменять стратегии поведения и мышления, менять собственную реальность в желаемом ключе.
				p.general-text Вы сможете работать с абсолютно любым видом проблем, включая зависимости (алкоголизм, наркомания, булимия), физические и психические заболевания, суициды, затяжные депрессии и т.д.
		+b('button-video',href,'Записаться на презентацию')