mixin use(cl,h4,p)
	.general-ol(class=cl)
		h4.general-ol-title=h4
		p.general-ol-text=p

section#usefull
	.container
		img.general-img.general-img-usefull(src=path+"img/images/laptop.png", alt="Картинка блока 1")
		+gt('','Польза от участия в онлайн-презентации:')
		.row
			.col-md-6.col-sm-6
				+use('','1','Познакомитесь с современными психотерапевтическими практиками, увидите их эффективность или посмотрите на них другими глазами')
				hr.hr-mobile
			.col-md-6.col-sm-6
				+use('','2','Получите от тренера в прямом эфире анализ вашей проблемной ситуации')
				hr.hr-mobile
		hr.hr-desktop
		.row
			.col-md-6.col-sm-6
				+use('','3','Через проработку проблематики других участников  проработаете свои личные проблемы')
				hr.hr-mobile
			.col-md-6.col-sm-6
				+use('','4','Увидите работу мастера на практике и поймёте, в чём заключается суть профессии')
				hr.hr-mobile
		hr.hr-desktop
		.row
			.col-md-6.col-sm-6
				+use('','5','Научитесь прорабатывать свои личные запросы по аналогии работы мастера')
				hr.hr-mobile
			.col-md-6.col-sm-6
				+use('','6','Сможете лично оценить все преимущества профессии психолога в современном формате')
				hr.hr-mobile
		hr.hr-desktop
		.row
			.col-md-6.col-sm-6
				.general-ol
					h4.general-ol-title 7
					p.general-ol-text Освоите актуальные эффективные техники:
				ul.use-item-list
					li По работе с внутренними эмоциональными конфликтами, работе с субличностями (кто мне не дает реализовывать собственные задачи)
					li По работе с физическими заболеваниями (какова психосоматическая причина физических недугов)
					li По работе с финансовыми вопросами (в чём основная проблема финансовых неудач)
					hr.hr-mobile
			.col-md-6.col-sm-6
				+use('','8','На онлайн-презентации получите уникальную подборку техник и материалов, важных для современного психолога')
		+b('button-usefull','#Modal','Мне это необходимо')