section#skills
	.container
		img.general-img.general-img-skills-1(src=path+"img/images/grass.png", alt="Картинка блока 1")
		img.general-img.general-img-skills-2(src=path+"img/images/ellipse.png", alt="Картинка блока 2")
		img.general-img.general-img-skills-3(src=path+"img/images/ellipse.png", alt="Картинка блока 3")
		img.general-img.general-img-skills-4(src=path+"img/images/branch.png", alt="Картинка блока 4")

		+gt('','Навыки которые вы освоите:')
		.skills
			.skill-row.skill-row-1
				h4.skill-row-title Модуль 1
				p.skill-row-text.skill-row-text-blue Работа с травмами
					br
					| Выявление ключевых проблем
			.skill-row.skill-row-2
				p.skill-row-text.skill-row-text-white Сертификат
				p.skill-row-text.skill-row-text-blue Ваши первые клиенты
			.skill-row.skill-row-3
				h4.skill-row-title Модуль 2
				p.skill-row-text.skill-row-text-blue Освоение техники НЛП терапии
			.skill-row.skill-row-4
				p.skill-row-text.skill-row-text-white Работа с диссоциированными частями
				p.skill-row-text.skill-row-text-blue Проработка проблемы любых сфер жизни 
			.skill-row.skill-row-5
				p.skill-row-text.skill-row-text-white Сертификат
				p.skill-row-text.skill-row-text-blue Увеличение стоимости ваших консультаций
			.skill-row.skill-row-6
				h4.skill-row-title Модуль 3
				p.skill-row-text.skill-row-text-white Проведение глубокой терапии зависимостей по системе 12-ти шагов, симбиозов, травм, а также терапии по системе коучинга
				p.skill-row-text.skill-row-text-blue Диплом
			.skill-row.skill-row-7
			.clearfix
			h4.skill-row-aftertitle Вы дипломированный специалист