section#skills
	.container
		img.skills-img.skills-img-1(src=path+"img/images/grass.png", alt="Картинка блока 1")
		img.skills-img.skills-img-2(src=path+"img/images/branch.png", alt="Картинка блока 2")
		img.skills-img.skills-img-3(src=path+"img/images/laptop.png", alt="Картинка блока 3")
		+gt('','Навыки которые вы освоите:')
		.skills
			.skill-row.skill-row-1
				h4.skill-row-title Модуль 1
				p.skill-row-text.skill-row-text-blue Проводить работу с травмами
					br
					| Ключевые причины проблематики клиентов
			.skill-row.skill-row-2
				p.skill-row-text.skill-row-white Сертификат
				p.skill-row-text.skill-row-text-blue Ваши первые клиенты
			.skill-row.skill-row-3
			.skill-row.skill-row-4
			.skill-row.skill-row-5
				h4.skill-row-title Модуль 2
				p.skill-row-text.skill-row-text-blue Пользоваться методом НЛП терапии
			.skill-row.skill-row-6
				p.skill-row-text.skill-row-white Работа с диссоциированными частями
				p.skill-row-text.skill-row-text-blue Прорабатывать проблемы любых сфер жизни 
			.skill-row.skill-row-7
			.skill-row.skill-row-8
			.skill-row.skill-row-9
				p.skill-row-text.skill-row-white Сертификат
				p.skill-row-text.skill-row-text-blue Увеличения стоимости ваших консультаций
			.skill-row.skill-row-10
				h4.skill-row-title Модуль 3
				p.skill-row-text.skill-row-text-white Проводить глубокую терапию зависимостей по системе 12-ти шагов, симбиозов, травм, а также терапию по системе коучинга
			.skill-row.skill-row-11
				p.skill-row-text.skill-row-text-blue Диплом
			.skill-row.skill-row-12
			.skill-row.skill-row-13
		h4.skill-row-title.skill-row-aftertitle Вы дипломированный специалист