section#course-plan
	.container
		+gt('','Программа обучающего курса')
		ul.nav.nav-tabs.course-plan-links(role="tablist")
			li(role="presentation" class="active")
				a(href="#course-plan-day-1" aria-controls="#course-plan-day-1" role="tab" data-toggle="tab") Модуль 1
			li(role="presentation")
				a(href="#course-plan-day-2" aria-controls="#course-plan-day-2" role="tab" data-toggle="tab") Модуль 2
			li(role="presentation")
				a(href="#course-plan-day-3" aria-controls="#course-plan-day-3" role="tab" data-toggle="tab") Модуль 3
		.tab-content
			.tab-pane.tab-pane.fade.in.active(role="tabpanel")#course-plan-day-1
				.course-plan-day
					h4.course-plan-day-title Модели управления людьми
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №1
								p.course-plan-day-number-text Установление и поддержание раппорта. Сбор терапевтической информации клиента
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №2
								p.course-plan-day-number-text Исследование хранилища травм: Кратчайший путь в прошлое (СКО – система конденсированного опыта)
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №3
								p.course-plan-day-number-text Идентичность личности
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №4
								p.course-plan-day-number-text Поиск первичной отправной точки травмы
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №5
								p.course-plan-day-number-text Выживательные инстинкты, оберегающие травму. Безопасность и  выживание. Суть выживательной модели
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №6
								p.course-plan-day-number-text Поиск ресурсов
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №7
								p.course-plan-day-number-text Вторичные выгоды. Вторичные выгоды, как система безопасности
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №8
								p.course-plan-day-number-text Теория возникновения первичной клетки, сформировавшей заболевание. Теория ГНМ – новая германская медицина
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №9
								p.course-plan-day-number-text Страхи. Фобии. Нарушенные личные границы. Восстановление границ
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №10
								p.course-plan-day-number-text Алгоритм терапевтической модели исцеления травм (заболеваний). Пошаговый план работы с симптомом
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №11
								p.course-plan-day-number-text Техника исцеление ДНК
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №12
								p.course-plan-day-number-text Техника Перерождение
								hr.hr-mobile
					hr.hr-desktop
					.course-plan-document
						h5.course-plan-day-bonus-title + Сертификат
			.tab-pane.tab-pane.fade(role="tabpanel")#course-plan-day-2
				.course-plan-day
					h4.course-plan-day-title Модели управления людьми
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №1
								p.course-plan-day-number-text Модель коммуникативных категорий. Репрезентативные системы – Визуалы. Аудиалы. Кинестеты. Дискреты. Категории Сатир
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №2
								p.course-plan-day-number-text Рефрейминг
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №3
								p.course-plan-day-number-text Метамодель. Метаубеждение. Нарушение метамодели. Изменение смыслов
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №4
								p.course-plan-day-number-text Ключи глазного доступа. Паттерны глазного сканирования
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №5
								p.course-plan-day-number-text Составление карты ключей доступа (физиогномика)
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №6
								p.course-plan-day-number-text Калибровки. Умение сканировать проблематику клиента
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №7
								p.course-plan-day-number-text Комплексные эквиваленты. Обнаружение комплексных эквивалентов
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №8
								p.course-plan-day-number-text Терапия эмоционального переживания
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №9
								p.course-plan-day-number-text Терапия диссоциированных состояний. Поиск внутренне-эмоционального конфликта
								hr.hr-mobile
					hr.hr-desktop
					.course-plan-document
						h5.course-plan-day-bonus-title + Сертификат
			.tab-pane.tab-pane.fade(role="tabpanel")#course-plan-day-3
				.course-plan-day
					h4.course-plan-day-title Модели управления людьми
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №1
								p.course-plan-day-number-text Драма контроля, как саботаж собственного развития, ведущая к зависимости
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №2
								p.course-plan-day-number-text Групповая психотерапия. АА и Двенадцати шаговые программы
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №3
								p.course-plan-day-number-text Пограничная патология по Кернбергу
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №4
								p.course-plan-day-number-text Аддикция, как попытка самолечения
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №5
								p.course-plan-day-number-text Теория созависимости. Проблема ранней стадии лечения
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №6
								p.course-plan-day-number-text Модификации интеракционной модели Ялома
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №7
								p.course-plan-day-number-text Проработка аддиктивных клиентов
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №8
								p.course-plan-day-number-text Регрессионный гипноз
								hr.hr-mobile
					hr.hr-desktop
					.row
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №9
								p.course-plan-day-number-text Процесс исцеления в частной и групповой терапии
								hr.hr-mobile
						.col-md-6.col-sm-6
							.course-plan-day-number
								h5.course-plan-day-number-title №10
								p.course-plan-day-number-text Коучинг. Пошаговая инструкция работы с клиентами. Составление индивидуальных программ по работе с клиентами. 
								hr.hr-mobile
					hr.hr-desktop
					.course-plan-document
						h5.course-plan-day-bonus-title + Диплом