section#main
	.container
		include ../base/header
		.row
			.col-md-6
				p.pre «Новая системная психология-2.0»
				h1.main-title Станьте психологом. Работайте с бессознательными программами личности!
				hr
				h2.main-subtitle Комплексная программа профессиональной переподготовки начинающих и практикующих психологов по специальности «Специалист системной психологии» с выдачей диплома государственного образца
				.main-info.hide
					p.main-info-text Даты проведения презентации:
						span с 5 по 7 июня 19:00 (Мск)
					p.main-info-text Автор курса:
						span Жанна Абрамова
				+b('button-main',href,'Записаться на курс')
			.col-md-6
				.main-imgs
					img.main-img-single(src=path+"img/images/main.png", alt="Изображение блока")
					img.main-img.main-img-1(src=path+"img/images/main-1.png", alt="1 изображение блока")
					img.main-img.main-img-2(src=path+"img/images/main-2.png", alt="2 изображение блока")
					img.main-img.main-img-3(src=path+"img/images/main-3.png", alt="3 изображение блока")